body {
    font-size: 12px;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

#wrraper {
    width: 960px;
    margin: 0 auto;
}

.clearfix {
    zoom: 1;
}

    .clearfix:after {
        content: " ";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

p {
    text-align: center;
}
ul{
    list-style:none;
    padding:50px;
    margin:0;
}
li{
    white-space:nowrap;
    border:1px solid #808080;
    width:200px;
    height:35px;
    border-radius:35px;
    display:inline-block;
    background-color:white;
    position:relative;
    margin:10px 0;
   
}
li span{   
background:url(icons.png);
background-repeat:no-repeat;
display:inline-block;
margin:12px 15px 5px 15px;
width: 16px;

}
.text{
    background:none;
    position:absolute;
    top:0px;
    left:25px;
}
ul.comments{
    background-color:#b70606;
}
ul.folder{
    background-color:#f7ee87;
}
ul.group{
    background-color:#fc57f4;
}
ul.page{
    background-color:#078b1a;
}
ul.user{
    background-color:#ff6a00;
}

/*icons*/
.sprite-comment{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-comment_add{ background-position: -17px 0; width: 16px; height: 16px; } 
.sprite-comment_delete{ background-position: -34px 0; width: 16px; height: 16px; } 
.sprite-comment_edit{ background-position: -51px 0; width: 16px; height: 16px; } 
.sprite-comments{ background-position: -68px 0; width: 16px; height: 16px; } 
.sprite-comments_add{ background-position: -85px 0; width: 16px; height: 16px; } 
.sprite-comments_delete{ background-position: -102px 0; width: 16px; height: 16px; } 
.sprite-folder{ background-position: -119px 0; width: 16px; height: 16px; } 
.sprite-folder_add{ background-position: -136px 0; width: 16px; height: 16px; } 
.sprite-folder_delete{ background-position: -153px 0; width: 16px; height: 16px; } 
.sprite-folder_edit{ background-position: -170px 0; width: 16px; height: 16px; } 
.sprite-group{ background-position: -187px 0; width: 16px; height: 16px; } 
.sprite-group_add{ background-position: -204px 0; width: 16px; height: 16px; } 
.sprite-group_delete{ background-position: -221px 0; width: 16px; height: 16px; } 
.sprite-group_edit{ background-position: -238px 0; width: 16px; height: 16px; } 
.sprite-page_white{ background-position: -255px 0; width: 16px; height: 16px; } 
.sprite-page_white_acrobat{ background-position: -272px 0; width: 16px; height: 16px; } 
.sprite-page_white_actionscript{ background-position: -289px 0; width: 16px; height: 16px; } 
.sprite-page_white_add{ background-position: -306px 0; width: 16px; height: 16px; } 
.sprite-page_white_c{ background-position: -323px 0; width: 16px; height: 16px; } 
.sprite-page_white_camera{ background-position: -340px 0; width: 16px; height: 16px; } 
.sprite-page_white_cplusplus{ background-position: -357px 0; width: 16px; height: 16px; } 
.sprite-page_white_csharp{ background-position: -374px 0; width: 16px; height: 16px; } 
.sprite-page_white_cup{ background-position: -391px 0; width: 16px; height: 16px; } 
.sprite-page_white_delete{ background-position: -408px 0; width: 16px; height: 16px; } 
.sprite-page_white_edit{ background-position: -425px 0; width: 16px; height: 16px; } 
.sprite-page_white_excel{ background-position: -442px 0; width: 16px; height: 16px; } 
.sprite-page_white_php{ background-position: -459px 0; width: 16px; height: 16px; } 
.sprite-page_white_powerpoint{ background-position: -476px 0; width: 16px; height: 16px; } 
.sprite-page_white_ruby{ background-position: -493px 0; width: 16px; height: 16px; } 
.sprite-user{ background-position: -510px 0; width: 16px; height: 16px; } 
.sprite-user_add{ background-position: -527px 0; width: 16px; height: 16px; } 
.sprite-user_delete{ background-position: -544px 0; width: 16px; height: 16px; } 
.sprite-user_edit{ background-position: -561px 0; width: 16px; height: 16px; } 
